html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-size: 18px;
}

.wrapper {
  display: flex;
}

header {
  width: 100%;
  background-color: #ff6600;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: #ff6600;
}

.story-list {
  flex: 1;
  background-color: #efefef;
  height: calc(100vh - 4em);
  overflow-x: hidden;
  overflow-y: scroll;
}

.story-list > ul {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

.story-list > ul > li {
  width: 100%;
}

.story-list-item-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.4rem;
}

.story-list-item-container:hover {
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}

.story-list-item-container > div.story-list-item-score {
  flex: 1;
}

.story-list-item-container > div.story-list-item-title {
  flex: 6;
}

.story-list-item-source {
  color: rgb(71, 71, 71);
}

.story-type-container {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.story-type-container > a {
  display: inline-block;
  color: #000;
  text-decoration: underline;
}

.story-type-selected {
  color: #ff6600;
  text-decoration: none;
}

.story-type-selected:hover {
  cursor: default;
}

.load-more {
  padding: 0.2rem;
  text-align: center;
}

.load-more > a {
  color: #000;
  text-decoration: underline;
}

.load-more > a:hover {
  text-decoration: none;
}

.story-details {
  flex: 2;
  background-color: #fff;
  padding: 2rem;
  height: calc(100vh - 4em);
  overflow-x: hidden;
  overflow-y: scroll;
}

.story-details-empty {
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.story-details-empty > div {
  font-size: 2rem;
  color: #bbb;
}

.is-small {
  font-size: 0.7rem;
}